html {
  height: 100%;
  width: 100%;
}

body {
  ask: nic nie robi w trzech przypadkach?
    /* justify-content: center; */
}

.box {
  background-color: black;
  /* ask: kiedy wielkosci nie mozna ustawic byl taki przypadek w pytaniach */
  width: 400px;
  height: 200px;
  border: 2px solid black;
  /* justify-content: center; */

}

/* ask: wielkosc fonta nie dziala jak zrobic? */
#count-number {
  color: floralwhite;
  margin-top: auto;

  font-size: 170px;

  /* justify-content: center; */

}

@animate {}